# cp .env.example .env
# Edit your .env file with your own values
# Don't commit your .env file to git/push to GitHub!
# Don't modify/delete .env.example unless adding extensions to the project
# which require new variable to be added to the .env file

PYTHONPATH=

# Jarvis environment variables

OPENAI_API_TYPE="openai"
OPENAI_API_BASE=
OPENAI_API_VERSION=
OPENAI_API_KEY=
OPENAI_TEMPERATURE=0.2

GOOGLE_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=