# cp .env.example .env
# Edit your .env file with your own values
# Don't commit your .env file to git/push to GitHub!
# Don't modify/delete .env.example unless adding extensions to the project
# which require new variable to be added to the .env file

PYTHONPATH=

# Jarvis environment variables

OPENAI_API_TYPE="openai"
OPENAI_API_BASE=
OPENAI_API_VERSION=
OPENAI_API_KEY=
OPENAI_TEMPERATURE=0.2

GOOGLE_API_KEY=
GOOGLE_SEARCH_ENGINE_ID=

# babyagi environment variables

# Alternatively, gpt-4, text-davinci-003, human, etc.
LLM_MODEL=gpt-3.5-turbo
 # Set the number of threads for llama (optional)
#LLAMA_THREADS_NUM=8

# STORE CONFIG
# TABLE_NAME can be used instead
RESULTS_STORE_NAME=baby-agi-test-table

# Weaviate config
# Uncomment and fill these to switch from local ChromaDB to Weaviate
# WEAVIATE_USE_EMBEDDED=true
# WEAVIATE_URL=
# WEAVIATE_API_KEY=

# Pinecone config
# Uncomment and fill these to switch from local ChromaDB to Pinecone
# PINECONE_API_KEY=
# PINECONE_ENVIRONMENT=

# COOPERATIVE MODE CONFIG
# BABY_NAME can be used instead
INSTANCE_NAME=BabyAGI
COOPERATIVE_MODE=none

# RUN CONFIG
OBJECTIVE="Summarize the three hottest AI-related topics in the past week"
# For backwards compatibility
# FIRST_TASK can be used instead of INITIAL_TASK
INITIAL_TASK="Develop a task list"

# Extensions
# List additional extension .env files to load (except .env.example!)
DOTENV_EXTENSIONS=
# Set to true to enable command line args support
ENABLE_COMMAND_LINE_ARGS=false

# Enable smartgpt extension as execution agent
ENABLE_SMARTGPT=
