[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
playsound = "*"
python-dotenv = "*"
googlesearch-python = "*"
selenium = "==4.9.1"
tiktoken = "*"
webdriver-manager = "*"
peewee = "*"
pyyaml = "*"
argparse = "==1.4.0"
chromadb = "==0.3.21"
pre-commit = ">=3.2.0"
llama-cpp-python = ">=0.1.42"
pydantic = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
