[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
playsound = "*"
python-dotenv = "*"
googlesearch-python = "*"
selenium = "==4.9.1"
tiktoken = "*"
webdriver-manager = "*"
peewee = "*"
pyyaml = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
